body {
    background-color: black;
    background-image: url("https://i.imgur.com/mrt57qU.jpg");
}

h1, h2, h3, h3, h5, h6, p {
 color: white;
}
p {

}
.outlinebox {
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);
}